@model Lancer.Models.ProjectViewModel

@{
    ViewData["Title"] = "Project";
    Layout = "_Layout";
}
    <fieldset class="Project">

        <div class="top-container">
            <div class="fluid-container">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Project</h1>
                        <p class="lead">Create Project</p>
                    </div>
                </div>
            </div>

        </div>


                <form asp-action="View">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ShowRequestId" /> @Html.DisplayNameFor(model => model.ShowRequestId)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DaysToDelivery" class="control-label"></label>
                        <input asp-for="DaysToDelivery" class="form-control" />
                        <span asp-validation-for="DaysToDelivery" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descriptions" class="control-label"></label>
                        <input asp-for="Descriptions" class="form-control" />
                        <span asp-validation-for="Descriptions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Summary" class="control-label"></label>
                        <input asp-for="Summary" class="form-control" />
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="FreeLancers" class="control-label"></label>
                        <input asp-for="FreeLancers" class="form-control" />
                        <span asp-validation-for="FreeLancers" class="text-danger"></span>
                    </div>  
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
        </fieldset>