@{
    ViewData["Title"] = "Services";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>


<section id="title">
    <div class="top-container">
        <div class="fluid-container">
            <div class="jumbotron">
                <h1 class="display-4">Freelance Software Developer & Educator</h1>
                <p class="lead">Services listed below. </p>
                <hr class="my-4">
                <p>I offer many consulting services. Use contact form to reach out to me about any service listed or not. </p>
                <!--  <p>To enroll           </p>
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
            </div>
        </div>

    </div>
</section>

<section id="body">
    <div class="fluid-container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="images\webdesign-services.png" class="card-img-top" alt="Image that represents the career of web design and development. Image by Coffee Bean from Pixabay">
                    <div class="card-body">
                        <h5 class="card-title">Web Site Design & Development</h5>
                        <p class="card-text">
                            Are you looking to have a website <em>designed and developed</em>? Whether a <strong>big</strong> or <i>small</i> business,
                            it is <strong>crucial</strong> to have a website designed to easily expand & evolve in alignment with your long-term goals.
                            In the current business climate, a <strong>strong</strong> online presence has never been so <em>critical.</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="images\consulting.png" class="card-img-top" alt="Bar chart and other charts to represent consulting. Image by janjf93 from Pixabay ">
                    <div class="card-body">
                        <h5 class="card-title">Technical Consultations</h5>
                        <p class="card-text">
                            <em>Now</em> more than ever, <strong>technology</strong> has been pushed to the forefront. In any stage of your business's digital transformation,
                            I can help make it a smooth transformation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="images\database-schema.png" class="card-img-top" alt="Database schema.Image by mcmurryjulie from Pixabay">
                    <div class="card-body">
                        <h5 class="card-title">Back-End Developer</h5>

                        <p class="card-text">
                            Let me help you <em>design, develop, maintain, test, and debug</em> your database. I am <em>very</em> knowledgeable about
                            <em>server-side</em> computer programming languages.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="images\gear.png" class="card-img-top" alt="Three gears in a circle. Image by LoveYouAll from Pixabay">
                    <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text">
                            From each step of the <strong>System Development Life Cycle</strong>, I can be your software engineer. I have experience
                            with project management and quality assurance. Whether following the traditional waterfall approach or an <em>Agile</em> method,
                            let me work <strong>hard</strong> to meet all <em>your</em> software development <b>requirements.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
