<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="origin" name="referrer">
    <meta content="Are you looking for a freelance developer? Than you are in the right place." name="description">
    <meta name="Gabe Vega's FreeLance Web-App"
          content="images/profile.png" itemprop="image">
    <meta name="theme-color" content="#66BFBF">
    <meta content="noodp" name="robots">
    <meta content="origin" name="referrer">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet" as="font">
    <link rel="icon" href="images/profile.png">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <title>@ViewData["Title"]-Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Software Engineer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarTogglerDemo01" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section id="footer">
        <div class="bottom-container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.linkedin.com/in/gabriel-vega-8882291aa/">LinkedIn</a>
                    </div>
                </li>
                <!--  Need to work on finding jobs to need enough help
                  <li class="nav-item">
                    <a class="nav-link" href="careers.html">Careers</a>
                  </li>-->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><small>© 2020 Gabriel Vega</small></a>
                </li>
            </ul>
            <p class="copyright">Software Engineer <span class="badge badge-secondary">Full Stack Developer</span></p>
            <audio controls loop>
                <source src="happy.mp3"
                        type="audio/mp3">
            </audio>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
